<header class="cabecera">
  <div class="cabecera__contenido">
    <a class="cabecera__marca" routerLink="/">
      <div class="cabecera__sello">
        <img src="assets/images.png" alt="Logo Prevención de Riesgos" class="cabecera__sello-img" />
      </div>
      <div>
        <div class="cabecera__titulo">Departamento de Prevención de Riesgos</div>
        <div class="cabecera__subtitulo">Fichas de trabajadores</div>
      </div>
    </a>
    <a class="btn btn--sobre-oscuro" routerLink="/trabajador/nuevo">+ Nuevo trabajador</a>
  </div>
</header>

<main class="contenedor">
  <router-outlet></router-outlet>
</main>
